:root{
	--systemFont:  -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

}

*,
*:before, *:after{
	box-sizing: border-box;
}

html,body{
	margin: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: var(--systemFont);
}
ul {
	padding: 0;
	margin: 0;
}
.o-app{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}


/*Tabs nav*/
.c-nav{
	display: flex;
	list-style: none;
	height: 56px;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
}

.c-nav__item{
	margin: 0 16px;
	font-weight: bold;
	cursor: pointer;
}

.c-nav__item:hover,
.c-nav__item.is-active{
	color: red;
}